Repository saveourtool/save-cloud, pull requests merged in 2022-10, with the labels that each got.

#1276 ManageTestSuitePermissions on frontend: origins
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkOrganizationTestSuiteController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkOrganizationTestSuiteService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/permission/SetRightsRequest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ReactUtils.kt
Labels: enhancement, frontend

#1288 [Sandbox] FileUploader improvements
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/FileInfo.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/ProjectCoordinates.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/uploader/FileIconTest.kt
Labels: enhancement, frontend

#1294 Document external OAuth provider (GitHub, Dex) usage with local deployments
  api-gateway/src/main/resources/application-dev.yml
  info/img/dex-generated-user-name.png
  info/img/github-oauth-app-settings.png
  save-deploy/README.md
  save-deploy/dex.dev.yaml
Labels: documentation

#1308 DebugInfo on SandboxView
  CONTRIBUTING.md
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/CodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/TestExecutionDetailsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/fontawesome/Icons.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/AceModes.kt
Labels: enhancement, frontend

#1314 Line markers for codeEditorComponent in SandboxView
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/CodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/EditorToolbar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/FileType.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/SandboxCodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/AceBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/ReactAce.kt
  save-frontend/src/main/resources/scss/save-frontend.scss
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/controller/SandboxController.kt
Labels: enhancement, frontend

#1334 Bugfix: 400 on test suite permission management
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
Labels: bug, frontend

#1336 Input form with debounce
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/OrganizationRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/OrganizationFilters.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestGlobalRatingView.kt
Labels: enhancement

#1337 Make test suites public/private again!
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkOrganizationTestSuiteController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/PermissionManagerMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: enhancement

#1344 Return FileLoader logic
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
Labels: frontend

#1346 Minor cosmetic selectors fixes
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuitessources/TestSuiteSourceUpsertComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuitessources/fetch/TestSuitesSourceFetcher.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
Labels: frontend

#1349 Enable super-admins to delete projects within an organization
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalDialog.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalDialogStrings.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/DeleteButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RunWithConfirmation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
Labels: frontend

#1352 Test suite permissions improvements
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/TestSuitePermissionEvaluator.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/PermissionManagerMode.kt
Labels: frontend

#1363 Body of DELETE request should always be undefined
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/DeleteOrganizationButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
Labels: frontend

#1358 Create a "secret" organization view intended for super-admins
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
Labels: frontend

#1362 OrganizationTestsMenu improvements: Ph.1
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/TestSuitesSourcesDisplayer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: enhancement, frontend

#1372 Minor testSuiteSelectorBrowserMode breadcrumb improvements
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorBrowserMode.kt
Labels: enhancement, frontend

#1379 Run tab should be separate
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectRunMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
Labels: frontend, refactoring

#1380 Minor TestSuitesSourcesDisplayer improvements
  save-cloud-common/src/jsMain/kotlin/com/saveourtool/save/utils/DateTimeUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/TestSuitesSourcesDisplayer.kt
Labels: frontend

#1387 Fix for overflowing modal
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalStyles.kt
Labels: bug, frontend

#1400 Several minor frontend fixes
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalStyles.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
Labels: frontend
