Repository saveourtool/save-cloud, pull requests merged in 2022-08, with the labels that each got.

#980 Contest creation validations
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/DeleteEntitiesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ExecutionControllerTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/test/TestDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/NameValidation.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Execution.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Test.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/TestSuite.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/benchmarks/AwesomeBenchmarks.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/entities/ExecutionTest.kt
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/Endpoints.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/TopBar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ContestEnroller.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AwesomeBenchmarksView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/HistoryView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/WelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsView.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/service/AgentService.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/service/DockerService.kt
Labels: enhancement, frontend

#991 General Validation pt II
  db/after-all-migrations/db.changelog-after-all.xml
  db/after-all-migrations/high-level-names-insert.xml
  db/db.changelog-master.xml
  db/test-data/db.changelog-insert.xml
  db/test-data/project-insert.xml
  db/test-data/sqlRequests/user.csv
  db/v-2/tables/db.changelog-tables.xml
  db/v-2/tables/high-level-names.xml
  db/v-2/tables/project.xml
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/OrganizationRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ProjectService.kt
  save-backend/src/main/resources/application.properties
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DatabaseTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DownloadFilesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/CloningRepositoryControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ProjectControllerTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/OrganizationSaveStatus.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationErrorMessages.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
Labels: enhancement

#1005 Minor improvements of tables on frontend
  db/test-data/test-suites-source-insert.xml
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestListView.kt
Labels: frontend

#1001 Single test suites source per execution
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestExecutionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/utils/ReactorUtils.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/TestExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/TestInitializeControllerTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/test/TestDto.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/Utils.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/controller/AgentsController.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/runner/AgentRunner.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/service/AgentService.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/service/DockerService.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/UtilsTest.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/controller/agents/AgentsControllerTest.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/controller/heartbeat/HeartbeatControllerTest.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/DownloadProjectController.kt
Labels: bug

#1006 Hotfix for distinct of TestSuitesSource
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/DownloadProjectController.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/controllers/DownloadProjectTest.kt
Labels: bug

#1017 Fix for additional files on Orchestrator: follow up
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/utils/ReactorUtils.kt
Labels: bug

#1016 Bugfix: Wrong error display when creating organization with existing name
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
Labels: bug

#1014 TestSuiteSelector
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesSourceService.kt
  save-backend/src/main/resources/application-mac.properties
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/GitDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/testsuite/TestSuiteDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/TestSuite.kt
  save-deploy/docker-mac-settings.sh
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/modal/Imports.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/controller/AgentsController.kt
  save-orchestrator/src/main/resources/application-mac.properties
  save-preprocessor/src/main/resources/application-mac.properties
Labels: enhancement, frontend

#1020 Bugfix for 500 when adding user to group
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserProjectController.kt
Labels: bug

#1021 PublicTestCardComponent
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/test/TestFilesContent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuitesDisplayer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestParticipantsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestResultsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/PublicTestCardComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
Labels: enhancement, frontend

#1028 Trigger execution run by test suite ids
  db/test-data/execution-insert.xml
  db/test-data/sqlRequests/test.csv
  db/test-data/test-suite-insert.xml
  save-backend/Backend-API.md
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/CloneRepositoryController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DownloadFilesController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ExecutionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/PermissionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/RunExecutionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/internal/TestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/internal/UsersController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/UserRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/scheduling/UpdateJob.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ExecutionService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkUserOrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/PermissionService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ProjectService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestExecutionService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesSourceService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/UserDetailsService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/storage/FileStorage.kt
  save-backend/src/main/resources/application-dev.properties
  save-backend/src/test/kotlin/com/saveourtool/save/backend/CloneRepoTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DownloadFilesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/CloningRepositoryControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/LnkUserOrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/PermissionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/TestSuitesControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controllers/RunExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/BasicSecurityTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/service/PermissionServiceTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/FileInfo.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/FileKey.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/ProjectCoordinates.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/RunExecutionRequest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/execution/ExecutionInitializationDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Execution.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/domain/FileKeyTest.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/entities/ExecutionTest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/StateWithRole.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/controller/AgentsController.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/controller/agents/AgentsControllerTest.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/CheckGitConnectivityController.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/DownloadProjectController.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/TestSuitesPreprocessorController.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/controllers/CheckGitConnectivityTest.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/controllers/DownloadProjectTest.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/controllers/TestSuitesPreprocessorControllerTest.kt
Labels: enhancement

#1045 TestSuiteSourceCreationComponent
  buildSrc/src/main/kotlin/com/saveourtool/save/buildutils/DiktatConfiguration.kt
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkUserOrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesSourceService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/SourceSaveStatus.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/testsuite/TestSuitesSourceDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationRegularExpressions.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationUtils.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/TestSuitesSource.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SelectForm.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSourceCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationTestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorBrowserMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorSearchMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/SelectFormTest.kt
Labels: enhancement, frontend

#1091 Fixes for `TestSuiteSelector` and `TestSuiteSourceCreationComponent`
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesSourceService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSourceCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorBrowserMode.kt
Labels: frontend

#1108 ContestSummaryMenu improvements
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ExecutionLabels.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestSummaryMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
Labels: frontend

#1117 ContestListView Enhancements on backend
  db/v-2/tables/contest.xml
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/ContestRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
Labels: enhancement

#1121 ContestListView Enhancements on frontend
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/NewContestsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/UserRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/Utils.kt
Labels: enhancement, frontend

#1126 Invalid validation errors on frontend
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSourceCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputDateFormRequired.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputTextFormDisabled.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputTextFormOptional.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputTextFormRequired.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/RegistrationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ReactUtils.kt
Labels: bug, frontend, refactoring

#1129 Mark contests as featured on frontend
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContest.kt
Labels: enhancement, frontend
