Repository saveourtool/save-cloud, pull requests merged in 2022-07, with the labels that each got.

#872 Contests on frontend
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkContestProjectRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkUserProjectRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkContestProjectService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkUserProjectService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestResult.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/TopBar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ProjectScoreCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestParticipantsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestResultsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/WelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/fontawesome/Icons.kt
Labels: enhancement, frontend

#879 Fix dependencies of `useRequest` in `TestExecutionDetailsView`
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/TestExecutionDetailsView.kt
Labels: frontend

#893 Small bugfixing of debug info
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
Labels: frontend

#858 Final steps with group permissions
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/OrganizationPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/ProjectPermissionEvaluator.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/CloneRepoTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ProjectControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/ProjectPermissionEvaluatorTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/Role.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/OrganizationViewTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/ProjectViewTest.kt
Labels: enhancement, frontend

#897 Merge SARIF reports in Github Actions
  .github/workflows/detekt.yml
  .github/workflows/diktat.yml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/com/saveourtool/save/buildutils/DetektConfiguration.kt
  buildSrc/src/main/kotlin/com/saveourtool/save/buildutils/DiktatConfiguration.kt
Labels: infra

#902 Info tab in ProjectView
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkContestProjectRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkContestProjectService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestResult.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/LnkContestProject.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ScoreCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/UserBoard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestParticipantsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectStatisticMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ProjectMenuBar.kt
Labels: frontend

#892 Correct filter in ExecutionView.kt
  save-frontend/README.md
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
Labels: frontend

#907 `fc`s to `FC`s
  detekt.yml
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/TopBar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Card.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/CheckBoxGrid.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ExecutionStatistics.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/GitWindow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/HtmlElements.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ScrollToTopButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SdkSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SelectForm.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestStatusComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestParticipantsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestResultsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectStatisticMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ErrorModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/PagingControl.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/TestExecutionDetailsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsEmailMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsOrganizationsMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsProfileMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsTokenMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettingsview/UserSettingsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/chart/PieChartBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RBuilderUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RouterUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/SelectFormTest.kt
Labels: help wanted, frontend

#923 Fix color of file-icon component
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/fontawesome/FontAwesomeIconBuilders.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/uploader/FileIconTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/OrganizationViewTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/ProjectViewTest.kt
Labels: frontend

#926 Fix flaky frontend tests
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/SelectFormTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/OrganizationViewTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/ProjectViewTest.kt
Labels: frontend, testing, infra

#929 Bugfix for 403 on Project Info Tab
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ProjectController.kt
Labels: bug

#936 Contest registrations on frontend
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/ContestRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkContestProjectRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkContestProjectService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ContestEnroller.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SdkSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
Labels: enhancement, frontend

#940 Fix for testRootPath calculating
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/controller/AgentsController.kt
Labels: bug

#946 Upload agent jar to github as artifact (x2)
  .github/workflows/deploy_images.yml
Labels: infra

#949 Upload agent jar as artifact to GitHub
  .github/workflows/deploy_images.yml
Labels: infra

#953 Run executions on mac
  CONTRIBUTING.md
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-deploy/README.md
  save-deploy/docker-mac-settings.sh
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ContestEnroller.kt
  save-orchestrator/build.gradle.kts
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/docker/DockerContainerManager.kt
  save-orchestrator/src/main/kotlin/com/saveourtool/save/orchestrator/service/DockerService.kt
  save-orchestrator/src/main/resources/application-mac.properties
Labels: documentation, enhancement, infra

#964 Contest creation on backend
  db/v-2/insert-test-data/contest-insert.xml
  db/v-2/insert-test-data/organization-insert.xml
  db/v-2/insert-test-data/sqlRequests/contest.csv
  db/v-2/insert-test-data/sqlRequests/organization.csv
  db/v-2/tables/contest.xml
  db/v-2/tables/organization.xml
  diktat-analysis.yml
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/PermissionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestExecutionController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkUserOrganizationRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/OrganizationPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkUserOrganizationService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/Organization.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
Labels: documentation, enhancement

#970 Contest creation on frontend
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/ContestRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationContestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/OrganizationMenuBar.kt
Labels: frontend
