Repository saveourtool/save-cloud, pull requests merged in 2022-11, with the labels that each got.

#1386 `LnkContestTestSuite` on backend
  db/v-2/tables/contest.xml
  db/v-2/tables/db.changelog-tables.xml
  db/v-2/tables/lnk-contest-test-suite.xml
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/ContestRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkContestTestSuiteRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ContestService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkContestExecutionService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkContestTestSuiteService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/ContestDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/LnkContestTestSuiteDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Contest.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/LnkContestTestSuite.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/PublicTestCardComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectRunMenu.kt
Labels: enhancement

#1414 manageTestSuitePermissionsComponent fix
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkOrganizationTestSuiteController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesService.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorBrowserMode.kt
Labels: enhancement

#1409 AboutUsView
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/TopBar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AboutUsView.kt
Labels: enhancement, frontend

#1416 [Sandbox] DemoService
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
  gradle/libs.versions.toml
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoAdditionalParams.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoResult.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoAdditionalParams.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoMode.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoResult.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoRunRequest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoTool.kt
  save-sandbox/build.gradle.kts
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/controller/DiktatDemoController.kt
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/service/AbstractDemoService.kt
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/service/DiktatDemoService.kt
Labels: enhancement

#1421 save-demo
  save-demo/build.gradle.kts
  save-demo/src/main/kotlin/com/saveourtool/save/demo/SaveDemo.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DiktatDemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/AbstractDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DiktatDemoService.kt
  save-demo/src/main/resources/application.properties
  save-sandbox/build.gradle.kts
  settings.gradle.kts
Labels: enhancement, help wanted

#1422 Adding save-demo to docker-compose
  .github/workflows/deploy_images.yml
  buildSrc/src/main/kotlin/com/saveourtool/save/buildutils/DockerStackConfiguration.kt
  docker-compose.yaml
  save-demo/src/main/resources/application.properties
Labels: help wanted, infra

#1427 diktat-demo on frontend
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoRequest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoAdditionalParams.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoMode.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoRunRequest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/AbstractDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DiktatDemoService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/DiktatDemoComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DiktatDemoView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
  save-frontend/webpack.config.d/dev-server.js
Labels: enhancement, frontend

#1445 ConfigProperties and Storage for demo
  save-demo/src/main/kotlin/com/saveourtool/save/demo/SaveDemo.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/config/ConfigProperties.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/ToolKey.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/ToolStorage.kt
  save-demo/src/main/resources/application-mac.properties
  save-demo/src/main/resources/application.properties
Labels: enhancement

#1450 Remove unused deps from save-demo
  gradle/libs.versions.toml
  save-demo/build.gradle.kts
  save-demo/src/main/resources/application-dev.properties
  save-demo/src/main/resources/application.properties
Labels: infra

#1455 [Demo] Refactoring and supporting storage
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/AbstractFileBasedStorage.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/FileUtils.kt
  save-demo/build.gradle.kts
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DiktatDemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/CliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/DiktatCliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/Runner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/CliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/DiktatCliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/AbstractDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DiktatDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/ToolStorage.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/utils/SystemUtils.kt
Labels: enhancement

#1452 add actionButton in frontend
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/DeleteOrganizationButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsOrganizationsMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Action.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/DeleteButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RunWithConfirmation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
Labels: frontend

#1459 react-sigma support
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/sigma/ReactSigma.kt
  yarn.lock
Labels: enhancement, frontend

#1460 @react-sigma/layout-random support
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgEdge.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgGraph.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgNode.kt
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/sigma/CpgUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/sigma/LayoutRandom.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/sigma/LayoutRandomInstance.kt
  yarn.lock
Labels: enhancement, frontend

#1462 Colorful graphs
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgEdge.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgGraph.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/cpg/CpgNode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/sigma/CpgUtils.kt
Labels: enhancement, frontend

#1482 Graph placeholder on CpgView
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/BuilderComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/CpgView.kt
Labels: enhancement, frontend

#1483 CpgView improvements
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/DemoComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/CpgView.kt
Labels: frontend, refactoring

#1495 [CPG] Phase I of front-back integration
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/DemoComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/CpgView.kt
Labels: enhancement, frontend

#1499 Add `/projects/by-filters` to publicEndpoints
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
Labels: bug

#1520 [DEMO] GithubDownloadToolService
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/diktat/DiktatDemoTool.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/FileUtils.kt
  save-demo/build.gradle.kts
  save-demo/src/main/kotlin/com/saveourtool/save/demo/entities/ReleaseAsset.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/entities/ReleaseMetadata.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/Runner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/CliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/DiktatCliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/AbstractDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DiktatDemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/GithubDownloadToolService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/ToolKey.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/ToolStorage.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/utils/HttpUtils.kt
  save-demo/src/test/kotlin/com/saveourtool/save/demo/utils/HttpUtilsTest.kt
Labels: enhancement

#1505 Added recover buttons in frontend and split OrganizationView on OrganizationToolsView
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkUserOrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ProjectService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationToolsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsOrganizationsMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Action.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/HtmlElements.kt
Labels: frontend
