Repository saveourtool/save-cloud, pull requests merged in 2022-09, with the labels that each got.

#1133 Rework modal windows
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/HasErrorModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ContestEnroller.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuiteSourceCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/GitWindow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ErrorModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/LogoutModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/Modal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalStyles.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/HistoryView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/modal/Modal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/modal/ReactModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: frontend, refactoring

#1148 Contest participants are not shown
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestSummaryMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
Labels: frontend

#1149 Propose a contest card
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/NewContestsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ProposeYourContest.kt
Labels: enhancement

#1173 Fix Diktat/Spotless warnings
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/UsersControllerTest.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/controller/agents/AgentsControllerTest.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/docker/DockerContainerManagerTest.kt
  save-orchestrator/src/test/kotlin/com/saveourtool/save/orchestrator/service/DockerServiceTest.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/service/TestDiscoveringServiceTest.kt
Labels: testing

#1172 When creating a new project, pre-select the organization if possible
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/OrganizationViewTest.kt
Labels: frontend

#1208 Empty name in manageUserRoleCardComponent
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/PermissionController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/ManageGitCredentialsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
Labels: frontend

#1214 Add Spring Boot run configurations
  .run/SaveApplication-LocalRunOnWindows.run.xml
  .run/SaveOrchestrator-LocalRunOnWindows.run.xml
  .run/SavePreprocessor-LocalRunOnWindows.run.xml
Labels: infra

#1213 Make :cleanupDbAndStorage run correctly on Windows
  save-backend/build.gradle.kts
Labels: infra

#1178 Fix Diktat/Spotless warnings in test code
  .gitignore
  save-agent/src/linuxX64Test/kotlin/com/saveourtool/save/agent/SaveAgentTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/TestSuitesControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/service/LnkContestProjectServiceTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/basic/SelectFormTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/ProjectViewTest.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/utils/GitUtilKtTest.kt
Labels: testing

#1209 testSuiteSourceCreationComponent polishing
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SelectForm.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuitessources/TestSuiteSourceCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputDateFormRequired.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
Labels: enhancement, frontend

#1226 Moving snapshots of test suites sources
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationUtils.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/validation/ValidationUtilsTest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputForms.kt
Labels: bug

#1229 Sandbox on frontend strikes back
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SelectForm.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/CodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/sandbox/SandboxCodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/sandbox/SandboxConfigEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/AceBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/AceModes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/reactace/ReactAce.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: enhancement, frontend

#1256 TestSuitePermissionEvaluator on backend
  CONTRIBUTING.md
  db/test-data/db.changelog-insert.xml
  db/test-data/lnk-organization-test-suite-insert.xml
  db/test-data/sqlRequests/lnk-organization-test-suite.csv
  db/test-data/test-suite-insert.xml
  db/v-2/tables/db.changelog-tables.xml
  db/v-2/tables/lnk-organization-test-suite.xml
  db/v-2/tables/test_suite.xml
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContestController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkContestProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkOrganizationTestSuiteController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserOrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/internal/TestSuitesController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/LnkOrganizationTestSuiteRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/TestSuiteRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/OrganizationPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/ProjectPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/TestSuitePermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/LnkOrganizationTestSuiteService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TestSuitesService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/utils/SpringUtils.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/LnkOrganizationTestSuiteDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/permission/Rights.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/permission/SetRightsRequest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/testsuite/TestSuiteDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/LnkOrganizationTestSuite.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/TestSuite.kt
  save-deploy/README.md
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestSuitesDisplayer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorBrowserMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorManagerMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorSearchMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
Labels: enhancement

#1272 ProjectView minor fixes
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/Project.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ProjectInfo.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TestResourcesSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
Labels: frontend, refactoring
