Repository saveourtool/save-cloud, pull requests merged in 2023-03, with the labels that each got.

#1923 Demo deletion
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DemoManagerController.kt
  save-cloud-charts/save-cloud/templates/s3-deployment.yaml
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/ManagementController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/KubernetesService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
Labels: enhancement, frontend

#1921 Update `save-core` to version 0.3.9
  gradle/libs.versions.toml
Labels: infra

#1926 Demo frontend follow-ups
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DemoManagerController.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoStatus.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/ReactorUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
Labels: enhancement, frontend

#1956 Get rid of type aliases
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/common/CloneAndProcessDirectoryAction.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/common/CloneResult.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/common/GitRepositoryProcessor.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/AwesomeBenchmarksDownloadController.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/controllers/TestSuitesPreprocessorController.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/service/GitPreprocessorService.kt
  save-preprocessor/src/test/kotlin/com/saveourtool/save/preprocessor/controllers/TestSuitesPreprocessorControllerTest.kt
Labels: enhancement

#1969 minikube profile for save-demo
  buildSrc/src/main/kotlin/com/saveourtool/save/buildutils/DockerStackConfiguration.kt
  save-cloud-charts/save-cloud/templates/backend-deployment.yaml
  save-cloud-charts/save-cloud/templates/demo-deployment.yaml
  save-cloud-charts/save-cloud/templates/mysql-service.yaml
  save-cloud-charts/save-cloud/templates/s3-service.yaml
  save-cloud-charts/save-cloud/templates/sandbox-deployment.yaml
  save-demo/src/main/kotlin/com/saveourtool/save/demo/config/Beans.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/pod/DemoPodRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/KubernetesService.kt
  save-demo/src/main/resources/application-minikube.properties
Labels: infra

#1984 Frontend doesn't show demo result
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/utils/SetupUtils.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/KubernetesService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/codeeditor/CodeEditorComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoView.kt
Labels: frontend

#1996 Ephemeral storage fix
  save-demo/src/main/kotlin/com/saveourtool/save/demo/config/ConfigProperties.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/utils/KubernetesUtils.kt
Labels: demo

#1997 Minikube profile
  save-orchestrator/src/main/resources/application-minikube.properties
  save-sandbox/src/main/resources/application-minikube.properties
Labels: infra

#2001 Several run commands for single demo
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoAgentConfig.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoRunRequest.kt
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/SimpleRunner.kt
  save-demo/db/tables/db.changelog-tables.xml
  save-demo/db/tables/demo.xml
  save-demo/db/tables/run-command.xml
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/ManagementController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/entity/Demo.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/entity/RunCommand.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/repository/RunCommandRepository.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/DemoCliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/cli/DiktatCliRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/command/CommandBuilder.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/runners/command/CommandContext.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-demo/src/test/kotlin/com/saveourtool/save/demo/runners/cli/CommandBuilderTest.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SdkSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoButtons.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoModeDisplayer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoModeLabel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoRunCommands.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoSdkSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoSettingsComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoStatusLabel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/BasicRouting.kt
Labels: enhancement, demo

#2005 Demo hotfixes
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/SimpleRunner.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
Labels: demo

#2013 Demo should be updatable
  save-backend/backend-api-docs.json
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DemoManagerController.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/Sdk.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DependencyController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/ManagementController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/entity/Demo.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/SdkSelection.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoButtons.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoModeDisplayer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoRunCommands.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoSdkSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoSettingsComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/SimpleFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/CustomHooks.kt
Labels: enhancement, demo

#2014 Chmod files extracted from archive
  save-agent/src/commonMain/kotlin/com/saveourtool/save/agent/Requests.kt
  save-agent/src/commonMain/kotlin/com/saveourtool/save/agent/utils/FileUtils.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/FileUtils.kt
  save-cloud-common/src/nativeMain/kotlin/com/saveourtool/save/utils/FileUtils.kt
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/utils/SetupUtils.kt
Labels: enhancement, demo

#2026 Updated actions for diktat and detect
  .github/workflows/detekt.yml
  .github/workflows/diktat.yml
Labels: infra

#2017 Some tooltips for projectDemoMenu
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoStatus.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoModeLabel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoRunCommands.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoSettingsComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoStatusLabel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/CustomHooks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
Labels: enhancement, frontend, demo

#2030 Demo dependencies should be updatable
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DependencyController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/storage/DependencyStorage.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/SimpleFileUploader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
Labels: enhancement, demo

#2034 Demo View improvements
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/run/DemoOutputComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/run/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoView.kt
Labels: enhancement, frontend, demo

#2039 Demo pod logs
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContainerLogController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DemoManagerController.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/DateTimeUtils.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/service/LogService.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/service/LokiLogService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoButtons.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoContainerLogButton.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/management/DemoModeModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/run/DemoRunComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectDemoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
Labels: enhancement, frontend, demo

#2047 Demo Agent socket timeout exception
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoAgentConfig.kt
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/SimpleRunner.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/KubernetesService.kt
Labels: demo

#2055 DemoMainView
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Carousel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Markdown.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/DemoIntroductionComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/DemoListComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/DemoStatistics.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/FeaturedDemos.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/mobile/AboutUsMobileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AboutUsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoMainView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/BasicRouting.kt
  save-frontend/src/main/resources/img/undraw_happy_announcement_re_tsm0.svg
  save-frontend/src/main/resources/img/undraw_join_re_w1lh.svg
Labels: enhancement, frontend, demo

#2058 Demo search on frontend
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ProjectService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/demo/DemoDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/DemoFilter.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/DemoListComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/testsuiteselector/TestSuiteSelectorSearchMode.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoMainView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/CustomHooks.kt
Labels: enhancement, frontend, demo
