Repository saveourtool/save-cloud, pull requests merged in 2023-07, with the labels that each got.

#2260 FossGraph comments improvements
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Forum.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityCommentTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/fontawesome/Icons.kt
Labels: frontend, refactoring, vulnerabilities

#2265 Revert "Lock file maintenance (#2143)"
  save-cloud-charts/save-cloud/Chart.lock
Labels: infra

#2269 vulnerabilityInfoTab should rely on currentUserInfo
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
Labels: frontend, vulnerabilities

#2272 timelineComponent
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDto.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TimelineComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityBadge.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
  save-frontend/src/main/resources/scss/_utilities.scss
  save-frontend/src/main/resources/scss/utilities/_timeline.scss
Labels: enhancement, frontend, vulnerabilities

#2276 Comment deletion
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/CommentController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/CommentRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/OrganizationPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/UserPermissionEvaluator.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/CommentService.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Comment.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Forum.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityCommentTab.kt
Labels: vulnerabilities

#2278 Changed volume for preprocessor
  save-cloud-charts/save-cloud/templates/preprocessor-deployment.yaml
Labels: infra, save-release

#2280 timelineComponent should be functional
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDateDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityProjectDto.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TimelineComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputForms.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityDateModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
  save-frontend/src/main/resources/scss/utilities/_timeline.scss
Labels: enhancement, frontend, vulnerabilities

#2282 Vulnerability dates should be able to be deleted
  db/v-2/tables/vulnerability-date.xml
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/vulnerability/VulnerabilityDateRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/ReactorUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityDateModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
  save-frontend/src/main/resources/scss/utilities/_timeline.scss
Labels: enhancement, frontend, vulnerabilities

#2290 Correct the dependencies between `publish*` and `sign*` tasks in Kotlin/MPP
  gradle/plugins/src/main/kotlin/com/saveourtool/save/buildutils/PublishingConfiguration.kt
  save-agent/build.gradle.kts
  save-cloud-common/build.gradle.kts
  save-demo-agent/build.gradle.kts
Labels: bug, infra

#2291 vulnerabilityInfoTab card mode
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Carousel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Forum.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TimelineComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/fontawesome/Icons.kt
Labels: frontend, vulnerabilities

#2293 Make `SaveCloudClientEx` compatible with the current state of the back-end
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/utils/ConvertAuthorizationHeaderGatewayFilterFactory.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/security/CustomAuthenticationBasicConverter.kt
  save-api/src/main/kotlin/com/saveourtool/save/api/SaveCloudClientEx.kt
  save-api/src/main/kotlin/com/saveourtool/save/api/impl/DefaultSaveCloudClient.kt
  save-api/src/main/kotlin/com/saveourtool/save/api/utils/RequestUtils.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/ConverterTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/configs/ApiSwaggerSupport.kt
Labels: bug

#2295 ContestListView serialization error for unauthorized user
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/LnkUserProjectController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestSampleListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestsStatistics.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/GlobalRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/MyProjectsRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/NewContests.kt
Labels: bug, frontend

#2296 Timeline style hotfixes
  save-frontend/src/main/resources/scss/utilities/_timeline.scss
Labels: frontend, vulnerabilities

#2298 Minor vulnerability style fixes
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Carousel.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TimelineComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/FeaturedDemos.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityBadge.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/progressbar/ReactCircleBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/themes/Colors.kt
Labels: enhancement, frontend

#2302 inputWithDebounce refactoring
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
Labels: enhancement, frontend, refactoring

#2309 Add users to vulnerability
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/UserRepository.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/AddUserComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputTextFormOptional.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/CreateVulnerabilityView.kt
Labels: enhancement, frontend, vulnerabilities

#2310 Participants on fossGraph view
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/AvatarRenderers.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/UserBoard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
Labels: enhancement, frontend, vulnerabilities

#2311 Added creation date and last updated date labels
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/vulnerabilities/Vulnerability.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
Labels: frontend, vulnerabilities

#2316 Fix for broken validation on vulnerability creation
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/CreateVulnerabilityView.kt
Labels: frontend

#2317 fossGraphCollectionView table should be more informative
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/vulnerabilities/Vulnerability.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphCollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/VulnerabilityInfoTab.kt
Labels: enhancement, vulnerabilities

#2328 WelcomeView -> saveWelcomeView
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/cpg/GraphEvents.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/cpg/GraphLoader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationToolsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/mobile/SaveWelcomeMobileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/mobile/WelcomeMobileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AboutUsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestTemplateView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/CountDownTimer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/NewContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexViewAuth.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/userprofile/UserProfileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsEmailMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsOrganizationsMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsProfileMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsTokenMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/SaveWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/graph/CpgUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/BasicRouting.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/MobileRouting.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Particles.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
Labels: frontend, refactoring

#2333 Minor refactoring for welcome view
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/mobile/SaveWelcomeMobileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AbstractView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/MarketingTitles.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/SaveWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/WelcomePager.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
Labels: frontend

#2335 Styles refactoring
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Forum.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/CreateProjectProblemView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AboutUsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AbstractView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AwesomeBenchmarksView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreateOrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/FallbackView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/HistoryView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ProjectView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestGlobalRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestTemplateView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/CreateContestTemplateView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/CpgView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoMainView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/demo/DemoView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphCollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/fossgraph/FossGraphView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/TopRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/userprofile/UserProfileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/SaveWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/CustomHooks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/JsUtils.kt
  save-frontend/src/main/resources/index.html
  save-frontend/src/main/resources/scss/_buttons.scss
  save-frontend/src/main/resources/scss/_variables.scss
  save-frontend/src/main/resources/scss/utilities/_background.scss
Labels: enhancement, frontend, refactoring, vulnerabilities

#2346 Hotfix for broken links
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/GlobalRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/OrganizationRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeUtils.kt
Labels: bug, frontend

#2348 Terms of Use
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/ErrorBoundary.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/Footer.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/HasErrorModal.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/Forum.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/UserBoard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationToolsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarUserField.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AwesomeBenchmarksView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ContestView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/RegistrationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/agreements/TermsOfUsage.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestGlobalRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestSampleListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/CreateNewContestTemplate.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/GlobalRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/projectcollection/Cards.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/projectcollection/CollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/TopRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/UserRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/userprofile/UserProfileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/SaveWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/VulnerabilityWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/http/Requests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/BasicRouting.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/MobileRouting.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/LocationUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/TopBarUrl.kt
Labels: enhancement, frontend, refactoring

#2349 Hotfix for broken frontend tests
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/FooterTest.kt
Labels: bug, frontend, testing

#2350 Hotfix for lack of page reload on registrationView
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/RegistrationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/CustomHooks.kt
Labels: bug, frontend

#2353 In Link we trust
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ScoreCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestSubmissionsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestSummaryMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/demo/welcome/FeaturedDemos.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationContestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationToolsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectInfoMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectProblemView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSecurityMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/TestExecutionFilter.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/AwesomeBenchmarksView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/CreationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/FallbackView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/HistoryView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestGlobalRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestListCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/CreateNewContestTemplate.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/FeaturedContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/GlobalRating.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/NewContests.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexLogoButtons.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/projectcollection/Cards.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsOrganizationsMenuView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/UserSettingsView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/SaveWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/VulnerabilityWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/save/ReadMore.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/save/Slogan.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/LoginUtils.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/components/views/OrganizationViewTest.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/utils/TestUtils.kt
Labels: bug, enhancement, frontend

#2358 Hotfix for broken authorization links
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/LoginUtils.kt
Labels: bug, frontend

#2368 Fix tests after #2344
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/service/BackendService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/internal/UsersController.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/UsersControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/BasicSecurityTest.kt
Labels: bug

#2370 Vulnerability tags
  db/v-2/tables/vulnerability.xml
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/VulnerabilityFilter.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/vulnerabilities/Vulnerability.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityGeneralInfo.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityTagsComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: enhancement, vulnerabilities

#2373 Unifying tags
  db/v-2/tables/db.changelog-tables.xml
  db/v-2/tables/lnk-vulnerability-tag.xml
  db/v-2/tables/tags.xml
  db/v-2/tables/vulnerability.xml
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/TagRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/vulnerability/LnkVulnerabilityTagRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TagService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/VulnerabilityFilter.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/Tag.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/vulnerabilities/LnkVulnerabilityTag.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/vulnerabilities/Vulnerability.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityGeneralInfo.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityTagsComponent.kt
Labels: refactoring

#2374 Table placeholders on OrganizationView
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationContestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationVulnerabilitiesTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityInfoTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: frontend

#2380 Table placeholders follow-ups
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/contests/ContestCreationComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationContestsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/OrganizationVulnerabilitiesTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/ChildrenBuilderUtils.kt
Labels: frontend

#2381 Hide all backend endpoints under `/api` and `/internal`
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
  api-gateway/src/main/resources/application-dev.yml
  api-gateway/src/main/resources/application.yml
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/DemoManagerController.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/BackendRoutes.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationUtils.kt
  save-demo-agent/src/nativeMain/kotlin/com/saveourtool/save/demo/agent/utils/SetupUtils.kt
  save-demo-cpg/src/main/kotlin/com/saveourtool/save/demo/cpg/controller/CpgController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DemoController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/DependencyController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/ManagementApiController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/controller/ManagementController.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/utils/KubernetesUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/SandboxView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/RequestUtils.kt
  save-frontend/webpack.config.d/dev-server.js
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/controller/SandboxController.kt
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/controller/SandboxInternalController.kt
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/service/SandboxOrchestratorAgentService.kt
Labels: help wanted, refactoring

#2389 Gateway should permit save-frontend redirects
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
Labels: auth

#2390 Frontend nginx should almost always return index.html
  save-frontend/nginx.conf
Labels: frontend
