Repository saveourtool/save-cloud, pull requests merged in 2023-08, with the labels that each got.

#2392 Frontend nginx should return index.html when resource is not found
  save-frontend/nginx.conf
Labels: frontend, infra

#2393 Hotfix for "/workspace/staticindex.html" failed
  save-frontend/nginx.conf
Labels: bug, frontend

#2400 Should return 404 instead of 401 when Project does not exist
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ProjectController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/ProjectService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/http/Requests.kt
Labels: auth

#2403 Documenting cluster routing
  api-gateway/README.md
  save-frontend/README.md
Labels: documentation, frontend

#2386 Pre authenticated user
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/controller/SecurityInfoController.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/service/BackendService.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/utils/AuthorizationHeadersGatewayFilterFactory.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/utils/ConvertAuthorizationHeaderGatewayFilterFactory.kt
  api-gateway/src/main/resources/application.yml
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/repository/AuthenticationUserRepository.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/security/ConvertingAuthenticationManager.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/service/AuthenticationUserDetailsService.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/utils/AuthenticationDetails.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/utils/AuthenticationUserDetails.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/utils/SecurityUtils.kt
  authentication-service/src/test/kotlin/com/saveourtool/save/authservice/utils/AuthenticationUserDetailsTest.kt
  gradle/plugins/src/main/kotlin/com/saveourtool/save/buildutils/detekt-convention-configuration.gradle.kts
  save-backend/Backend-API.md
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/internal/UsersController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/UserDetailsService.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DownloadFilesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/LnkUserOrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/PermissionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/ProjectControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/TestExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/UsersDetailsControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controllers/RunExecutionControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/BasicSecurityTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/OrganizationPermissionEvaluatorTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/security/ProjectPermissionEvaluatorTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/utils/SecurityTestingUtils.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/configs/ApiSwaggerSupport.kt
  save-deploy/README.md
  save-frontend/webpack.config.d/dev-server.js
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/config/WebSecurityConfig.kt
Labels: enhancement, refactoring, auth

#2413 Set up gateway `DefaultErrorWebExceptionHandler`
  api-gateway/src/main/resources/application.yml
  api-gateway/src/main/resources/static/error/error.html
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/WebConfiguration.kt
Labels: refactoring

#2421 Vulnerability filter search
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TagController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/vulnerability/LnkVulnerabilityTagRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/TagService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/VulnerabilitiesFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/Utils.kt
Labels: enhancement, vulnerabilities

#2423 Minor topbar changes
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBar.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/utils/LocationUtils.kt
Labels: frontend

#2429 Terms of Use view should be available for unregistered users
  save-frontend/README.md
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/RegistrationView.kt
Labels: frontend

#2432 Vulnerability filters part II
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/VulnerabilityFilter.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/VulnerabilitiesFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
  save-frontend/src/main/resources/scss/_dropdowns.scss
  save-frontend/src/main/resources/scss/utilities/_animation.scss
Labels: frontend, vulnerabilities

#2438 Vulnerability filters part III
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/OrganizationController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/OrganizationRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/VulnerabilityFilter.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/organizations/testsuitespermissions/ManageTestSuitePermissionsCard.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/VulnerabilitiesFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/inputform/InputWithDebounce.kt
Labels: enhancement, frontend, vulnerabilities

#2441 Top Rating filtering
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FossGraphIntroductionComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/NameFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/OrganizationRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/RatingUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/UserRatingTab.kt
Labels: enhancement, frontend, vulnerabilities

#2439 Vulnerability filters part IV
  save-backend/src/main/kotlin/com/saveourtool/save/backend/repository/vulnerability/LnkVulnerabilityTagRepository.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
Labels: enhancement, frontend, vulnerabilities

#2443 Add useful links to VulnerabilityWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/VulnerabilityWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/vuln/WhatIsVuln.kt
Labels: enhancement, frontend, vulnerabilities

#2454 Hotfix for organizationRatingTab
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/OrganizationRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/VulnerabilityWelcomeView.kt
Labels: bug, frontend, vulnerabilities

#2457 Hotfix for vulnerability tags for unauthorized
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
Labels: frontend, vulnerabilities

#2459 Hotfix for vulnerability tags duplicates
  db/v-2/tables/tags.xml
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TagController.kt
Labels: vulnerabilities

#2463 Hotfix for redirects after vulnerability reject/deletion
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityView.kt
Labels: frontend, vulnerabilities

#2464 `users` -> `collaborators`
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityGeneralInfo.kt
Labels: frontend, vulnerabilities

#2466 Fix for missing column in manageUserRoleCardComponent
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/ManageUserRoleCard.kt
Labels: frontend

#2472 Fix for newCommentWindow margin
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCommentTab.kt
Labels: frontend, vulnerabilities

#2477 Vulnerability creation validation improvements
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationErrorMessages.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/CreateVulnerabilityView.kt
Labels: frontend, vulnerabilities

#2483 VulnCollectionView table should show user and org names
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/ExecutionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/contests/ContestGlobalRatingView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/OrganizationRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/toprating/UserRatingTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
Labels: frontend, refactoring, vulnerabilities

#2485 Vulnerability missing timestamp fix
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDto.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/TimelineComponent.kt
Labels: bug, frontend, vulnerabilities

#2491 First steps into localization
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexViewUserInfo.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/InitI18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/Translation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/UseTranslation.kt
  save-frontend/src/test/kotlin/com/saveourtool/save/frontend/BasicRoutingTest.kt
  yarn.lock
Labels: enhancement, frontend

#2496 vulnerabilityCollectionView localization
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/FossGraphIntroductionComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/LanguageSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/VulnerabilityIntroductionComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/VulnerabilitiesFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/tables/TableComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/IndexViewUserInfo.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityCollectionView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/I18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/InitI18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/Translation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/UseTranslation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/locales/Translations.kt
Labels: enhancement, frontend, vulnerabilities

#2498 Language Selector color
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/LanguageSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
Labels: frontend

#2499 Topbar localization
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/topbar/TopBarLinks.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/InitI18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/locales/Translations.kt
Labels: frontend

#2401 Support upload vulnerability in COSV -- backend only
  CONTRIBUTING.md
  gradle/libs.versions.toml
  save-backend/build.gradle.kts
  save-backend/src/main/kotlin/com/saveourtool/save/backend/SaveApplication.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/ApiGroupsConfiguration.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/ContainerLogController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/TestSuitesSourceController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DatabaseTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DownloadFilesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/JpaSpecificationTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/LnkUserOrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/PermissionControllerTest.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/AbstractMigrationReactiveStorage.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/AbstractReactiveStorage.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/DefaultStorageProjectReactor.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/StorageProjectReactor.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/KotlinUtilsJvm.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/ReactorUtils.kt
  save-cosv/build.gradle.kts
  save-cosv/src/main/kotlin/com/saveourtool/save/backend/service/IVulnerabilityService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/CosvConfiguration.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/AbstractCosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/CosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/CosvProcessorHolder.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/DefaultCosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/go/GoCosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/go/GoImports.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/go/GoUrl.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/CosvRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/service/CosvService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/CosvKey.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/CosvStorage.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/utils/JsonUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/vuln/WhatIsVuln.kt
  settings.gradle.kts
Labels: vulnerabilities, s3-obs

#2500 Cookies for preferred language
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/frontend/PlatformLanguages.kt
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/LanguageSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/cookie/Cookie.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/I18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/Translation.kt
  yarn.lock
Labels: enhancement, frontend

#2505 Rename VulnerabilityDateType
  db/v-2/tables/vulnerability-date.xml
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/vulnerability/VulnerabilityDateType.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/AbstractCosvProcessor.kt
Labels: vulnerabilities

#2507 Better cookies
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/FrontendRoutes.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/CookieBanner.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/LanguageSelector.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/agreements/CookiesTermsOfUse.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/index/CardAboutUs.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/cookie/Cookie.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/InitI18n.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/Translation.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/i18next/locales/Translations.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/routing/BasicRouting.kt
Labels: enhancement, frontend

#2515 Introduced CosvMetadata
  db/v-2/tables/cosv-metadata.xml
  db/v-2/tables/db.changelog-tables.xml
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/OrganizationService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/UserDetailsService.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DatabaseTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/DownloadFilesTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/JpaSpecificationTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/LnkUserOrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/OrganizationControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/PermissionControllerTest.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/cosv/CosvMetadataDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/cosv/CosvMetadata.kt
  save-cosv/build.gradle.kts
  save-cosv/src/main/kotlin/com/saveourtool/save/backend/service/IOrganizationService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/backend/service/IUserService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/backend/service/IVulnerabilityService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/CosvConfiguration.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/AbstractCosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/CosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/CosvProcessorHolder.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/processor/go/GoCosvProcessor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/CosvMetadataRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/CosvRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/CosvRepositoryInStorage.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/service/CosvService.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/CosvStorage.kt
Labels: vulnerabilities
