Repository saveourtool/save-cloud, pull requests merged in 2023-10, with the labels that each got.

#2649 Allow to download vulnerability for all users
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/config/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/vulnerability/VulnerabilityController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/security/VulnerabilityPermissionEvaluator.kt
Labels: bug, vulnerabilities

#2632 Use `authentication` to update `User`
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/UserDetailsService.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/UsersDetailsControllerTest.kt
  save-backend/src/test/kotlin/com/saveourtool/save/backend/utils/SecurityTestingUtils.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/UserSaveStatus.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/info/UserInfo.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/ReactorUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/RegistrationView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/right/SettingsInputFields.kt
Labels: enhancement, auth

#2652 Set first 35 letters of details as summary
  db/v-2/tables/vulnerability-metadata.xml
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/service/VulnerabilityMetadataService.kt
Labels: enhancement, vulnerabilities

#2657 Supported OAuth2 via Huawei
  api-gateway/src/main/resources/application-dev.yml
  api-gateway/src/main/resources/application.yml
  db/v-2/tables/original-login.xml
  db/v-2/tables/user.xml
Labels: auth, vulnerabilities

#2689 Fix the bug with multipart upload
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/s3/DefaultS3Operations.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/s3/S3Operations.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/DefaultStorageProjectReactor.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/BufferAccumulatedUntilReactorUtils.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/ReactorUtils.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/utils/ReactorUtilsTest.kt
Labels: s3-obs

#2703 Added "Submit all uploaded by you"
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: vulnerabilities

#2698 Fixed long usernames don't fit into their placeholders.
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/StringUtils.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/userprofile/UserProfileView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/usersettings/SettingsViewLeftColumn.kt
Labels: bug, frontend

#2704 Supported pagination for raw cosv files
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/utils/SpringUtils.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/RawCosvFileRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileS3KeyManager.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileStorage.kt
  save-demo/src/main/kotlin/com/saveourtool/save/demo/service/DemoService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: vulnerabilities

#2709 Added criticality filtering for vulnerabilities.
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/vulnerability/VulnerabilityService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/filters/VulnerabilityFilter.kt
  save-frontend/build.gradle.kts
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/table/filters/VulnerabilitiesFiltersRow.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/externals/slider/MultiRangeSlider.kt
  yarn.lock
Labels: frontend, vulnerabilities, save-release

#2712 User can operate only with files uploaded by itself
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/RawCosvFileRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileS3KeyManager.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileStorage.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: vulnerabilities

#2714 RawCosvFileController
  save-backend/src/test/resources/minio/cosv/1
  save-backend/src/test/resources/minio/cosv/2
  save-backend/src/test/resources/minio/cosv/3
  save-backend/src/test/resources/minio/cosv/4
  save-backend/src/test/resources/minio/cosv/5
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/CosvController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/RawCosvFileController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: vulnerabilities

#2722 Added content-length on RawCosvFile
  db/v-2/tables/raw-cosv-file.xml
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/cosv/RawCosvFile.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/storage/DefaultStorageProjectReactor.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/RawCosvFileController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileS3KeyManager.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileStorage.kt
Labels: vulnerabilities

#2735 Delete processed raw cosv files
  db/v-2/events/event_scheduler.xml
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/service/CosvService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: vulnerabilities

#2747 Fix broken navigation to an organization
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/projects/ProjectSettingsMenu.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/OrganizationAdminView.kt
Labels: frontend

#2740 Added logic for editing criticality with calculator
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/service/VulnerabilityMetadataService.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalBuilder.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/modal/ModalStyles.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityBadge.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityGeneralInfoProps.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityHeader.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityInfoTab.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityTagsComponent.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/component/CvssBaseScoreCalculator.kt
Labels: save-release

#2756 Fixed vulnerability main page
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/CreateVulnerabilityView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/vuln/VulnerabilityBadge.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/VulnerabilityWelcomeView.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/WelcomeUtils.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/views/welcome/pagers/vuln/WhatIsVuln.kt
  save-frontend/src/main/resources/locales/cn/welcome.json
  save-frontend/src/main/resources/locales/en/welcome.json
  save-frontend/src/main/resources/locales/ru/welcome.json
Labels: frontend, save-release

#2764 Allow dashes (`-`) in host names
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/validation/ValidationRegularExpressions.kt
  save-cloud-common/src/jvmTest/kotlin/com/saveourtool/save/validation/ValidationRegularExpressionsTest.kt
Labels: frontend, vulnerabilities

#2630 Removed endpoints `/sec/name` and `/api/v1/users/global-role`
  api-gateway/README.md
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/controller/SecurityInfoController.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/security/WebSecurityConfig.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/service/BackendService.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/utils/StoringServerAuthenticationSuccessHandler.kt
  authentication-service/src/main/kotlin/com/saveourtool/save/authservice/utils/SaveUserDetails.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/service/UserDetailsService.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/domain/Role.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/User.kt
  save-frontend/README.md
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/App.kt
  save-frontend/webpack.config.d/dev-server.js
Labels: enhancement, auth

#2794 Added status bar during uploading COSV files
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: frontend, save-release

#2807 Fixed statistics display during uploading COSV files
  save-backend/src/main/kotlin/com/saveourtool/save/backend/storage/TestsSourceSnapshotStorage.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/cosv/RawCosvFileDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/cosv/RawCosvFileStatisticsDto.kt
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/ArchiveUtils.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/RawCosvFileController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/repository/RawCosvFileRepository.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileS3KeyManager.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileStorage.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
  save-preprocessor/src/main/kotlin/com/saveourtool/save/preprocessor/service/GitPreprocessorService.kt
  save-sandbox/src/main/kotlin/com/saveourtool/save/sandbox/controller/SandboxInternalController.kt
Labels: bug, frontend, save-release

#2634 Invalidates `SaveUserDetails` in Gateway
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/controller/SecurityInfoInternalController.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/service/BackendService.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/service/SaveUserDetailsCache.kt
  api-gateway/src/main/kotlin/com/saveourtool/save/gateway/utils/StoringServerAuthenticationSuccessHandler.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/configs/ConfigProperties.kt
  save-backend/src/main/kotlin/com/saveourtool/save/backend/controllers/UsersDetailsController.kt
  save-backend/src/main/resources/application-dev.properties
  save-backend/src/main/resources/application.properties
  save-backend/src/test/kotlin/com/saveourtool/save/backend/controller/UsersDetailsControllerTest.kt
  save-backend/src/test/resources/application.properties
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/utils/Constants.kt
Labels: bug, enhancement, auth

#2811 Added button to delete all duplicates during uploading COSV files
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/RawCosvFileController.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: frontend, vulnerabilities

#2817 Archives with raw COSV files should be at the top of the list
  save-cloud-common/build.gradle.kts
  save-cloud-common/src/commonMain/kotlin/com/saveourtool/save/entities/cosv/RawCosvFileDto.kt
  save-cloud-common/src/jvmMain/kotlin/com/saveourtool/save/entities/cosv/RawCosvFile.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/controllers/RawCosvFileController.kt
  save-cosv/src/main/kotlin/com/saveourtool/save/cosv/storage/RawCosvFileStorage.kt
  save-frontend/src/main/kotlin/com/saveourtool/save/frontend/components/basic/fileuploader/CosvFileManagerComponent.kt
Labels: frontend, vulnerabilities

#2825 [Tactic] Frontend misses index.html
  save-frontend/build.gradle.kts
Labels: bug, frontend
